.myBG{
    height: 100vh;
    background: url("../assets/components/1.jpg");
    background-size: cover;
}


.intro{
    height: 550px;
    font: weight 600;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.title{
    font-weight: 600;
    font-size: 20px;
    line-height: 1;
    color: whitesmoke;
    justify-content: center;
    font-style: italic;

}

.title2{
    font-weight: 600;
    font-size: 2rem;
    line-height: 1;
    color: rgb(255, 255, 255);
    justify-content: center;
}

.text-lp{
    
    justify-content: center;
    align-items: center;
}

.tlsn{
    color: black;
    display: flex;
    text-decoration-line: none;

}

.bd{
    background:whitesmoke;
}

.footer{
    margin-top: 1rem;
    padding: 1rem;
    background-color: rgb(235, 195, 64);
    position: fixed;
    bottom: 0;
    /* left: 0; */
    width: 100%;
    /* border: 10cm; */
    text-align: center;
}