.myBG{
    height: 100vh;
    background: url("../assets/components/1.jpg");
    background-size: cover;
}


.intro{
    height: 550px;
    font: weight 600;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.title{
    font-weight: 600;
    font-size: 40px;
    line-height: 1;
    color: whitesmoke;
    justify-content: center;
    font-style: italic;

}

.title2{
    font-weight: 600;
    font-size: 1,5rem;
    line-height: 1;
    color: rgb(255, 255, 255);
    justify-content:center;
}

.text-lp{
    
    justify-content: center;
    align-items: center;
}

.tlsn{
    color: black;
    display: flex;
    text-decoration-line: none;

}

.bd{
    background:whitesmoke;
}

.footer{
    margin-top: 26.5rem;
    padding: 1rem;
    background-color: rgb(235, 195, 64);
    position:absolute;
    bottom: 100%;
    left: 0;
    width: 100%;
    /* border: 10cm; */
    text-align: center;
}

.text-kiri{
    font-size: 20px;
    color: whitesmoke;
    font-style: italic;
    padding: 100px;
    position: absolute;
    left: 7cm;

}

.text-about{
    font-size: 20px;
    color: whitesmoke;
    font-style: italic;
    padding: 100px;
    position: fixed;
    left: 3cm;
    right: 6cm;
    text-align: left;

}

.text-open{
    font-size: 20px;
    color: whitesmoke;
    font-style: italic;
    padding: 100px;
    position: fixed;
    left: 5cm;
    text-align: left;

}

.text-kanan{
    font-size: 20px;
    color: whitesmoke;
    font-style: italic;
    padding: 100px;
    position: absolute;
    right: 10cm; 
}

.text-kanan2{
    font-size: 20px;
    color: whitesmoke;
    font-style: italic;
    padding: 100px;
    position: absolute;
    right: 11.8cm; 
}

.menu-kanan{
    font-size: 20px;
    color: whitesmoke;
    font-style: italic;
    padding: 100px;
    position: fixed;
    right: 15cm; 
}

.harga-kanan{
    font-size: 20px;
    color: whitesmoke;
    font-style: italic;
    padding: 100px;
    position: fixed;
    right: 12cm; 
}

.menu-kiri{
    font-size: 20px;
    color: whitesmoke;
    font-style: italic;
    padding: 100px;
    position: fixed;
    left: 6cm; 
}

.harga-kiri{
    font-size: 20px;
    color: whitesmoke;
    font-style: italic;
    padding: 100px;
    position: fixed;
    left: 15cm; 
}